@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.App {
  text-align: center;
  background-color: #F1F1E4;
}

/* Nav Bar */

/* https://i.imgur.com/DB5PFUc.png */
.logo {
  width: 450px;
  height: auto;
}

.navMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 2%;
}

.option {
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
}

.topHomePhoto {
  width: 800px;
  height: auto;
  float: right;
}

/* login Page */
.login {
  display: flex;
  flex-direction: row;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  width: 55%;
  background: white;
  border-radius: 0px;
  margin: 5px auto;
}


.logPhoto {
  display: flex;
  height: 700px;
  width: auto;
  margin-right: 20px;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  font-family: 'Comfortaa', cursive;
  width: 80%
}

.loginInputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 35px;
}

.loginInput {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.registerLink {
  text-decoration: none;
  color: #F29559;
}


/* Register Page */
.regPhoto {
  display: flex;
  height: 730px;
  width: auto;
}

.regPage {
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
  font-family: 'Comfortaa', cursive;
}

.regBox {
  display: flex;
  justify-content: space-between;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  width: 55vw;
  margin: 10px auto;
  background: white;
  border-radius: 0px;
}


.regForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 3%;
}

.regBtn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registerErr {
  color: #F29559
}

/* Create Post Page */
.createPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Comfortaa', cursive;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  width: 75%;
  background: white;
  border-radius: 0px;
  margin: 10px auto;
  margin-top: 10%;
}

.postingLeft {
  display: flex;
  height: 400px;
  width: auto;
}

.postingForm {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

/* Post Index */
.postImg {
  height: 400px;
  width: 400px;
}

/* Post Show Page */
.postShowBox {
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
  width: 100%;
  align-items: center;
}

.postShowUser {
  display: flex;
  width: 50%
}

.postImgShow {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.text {
  width: 50%;
}

.postShowText {
  display: flex;
  justify-content: center;
}

.postEdit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.editBtn {
  float: left;
}

.postEditForm {
  display: flex;
  margin-left: 25%;
  width: 100%;
}

.editForm {
  width: 65%;
}

.editInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editPageBtns {
  display: flex;
  justify-content: space-between;
}