@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* main {
  background-color: #f1f1e4;
  height: 110%;
} */


/* Nav Bar */

/* https://i.imgur.com/DB5PFUc.png */
.logo {
  width: 350px;
  height: auto;
  margin-left: 40px;
  margin-top: 10px;
}

.rightNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 8px;
}

.firstPhoto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.some {
  overflow-x: hidden;
}

nav {
  background-color: rgba(159,159,135, .3);
  box-shadow: 1px 2px 8px 2px #bfbdbd;
}

.navMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuBtn {
  margin-left: 80%;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.option {
  text-decoration: none;
  color: black;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.option{
  opacity: 0.6;
}

.option:hover {
  opacity: 1;
}

.option::before {
  transition: 500ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0;
}

.option:hover::before {
  bottom: 15px;
  opacity: 1;
  width: 100%;
}

/* Home Page */
.homePage {
  margin-top: 2%;
  font-family: 'Comfortaa', cursive;
}

.topHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Comfortaa', cursive;
  /* background-color:  rgba(141, 170, 145, .5); */
  width: 100%;
  
}

.topHomeRight {
  margin-right: 10%;
  margin-left: 10%;
}

.topHomePhoto {
  width: 900px;
  height: auto;
  object-fit: cover;
  box-shadow: 6px 10px 10px 2px #4d4b4b;
}

.firstHeader {
  font-size: 40px;
  color: #114355;
}

.firstLine {
  font-size: 40px;
  margin-right: 50px;
  margin-top: 80px;
  color: #114355;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3%;
  background-color: rgba(1, 22, 30, .5);
}

.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img1 {
  width: 800px;
  height: auto;
  object-fit: cover;
  box-shadow: 6px 10px 10px 2px #4d4b4b;
}

.secondLine {
  font-size: 40px;
  margin-right: 50px;
  margin-top:20%;
  color: white;
  margin-left: 50px;
}

.moreInfo {
  text-decoration: none;
  color: black;
}

.secondLinePlus {
  font-size: 40px;
  margin-right: 50px;
  margin-top:5%;
  color: white;
  margin-left: 50px;
}


.homeBottom {
  margin-top: 3%;
}

.lastHead {
  font-size: 30px;
  margin-left: 50px;
  color: #114355;
}

.lastHeadDiv {
  margin-bottom: 40px;
}

.front {
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: center;
}


.container2 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 50px 0 50px;
  background-color:  rgba(141, 170, 145, .5);
  margin-bottom: -80px;
}

.job {
  font-family: 'Comfortaa', cursive;
  color: black;
  position: relative;
  bottom: 150px;
  left: 10px;
  font-size: 30px;
  opacity: 0;
}


.jobCard:hover .front {
  opacity: .5;
}

.jobCard:hover .job {
  animation: fadeIn 4s alternate infinite;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.canvas {
  font-size: 25px;
  text-align: center;
}


/* login Page */
.loginBody {
  height: 100%;
}

.login {
  display: flex;
  flex-direction: row;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  width: 55%;
  background: white;
  border-radius: 0px;
  margin: 5% auto;
}


.logPhoto {
  display: flex;
  height: 700px;
  width: auto;
  margin-right: 20px;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  font-family: 'Comfortaa', cursive;
  width: 80%
}

.loginInputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 35px;
}

.loginInput {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.registerLink {
  text-decoration: none;
  color: #F29559;
}


/* Register Page */
.regPhoto {
  display: flex;
  height: 730px;
  width: auto;
}

.regPage {
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
}

.regHeader {
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
}

.regBox {
  display: flex;
  justify-content: space-between;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  width: 55vw;
  margin: 5% auto;
  margin-top: .01%;
  background: white;
  border-radius: 0px;
}


.regForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-right: 3%;
  margin-top: 1%;
}

.regBtn {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registerErr {
  color: #F29559
}

/* Create Post Page */
.createPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Comfortaa', cursive;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  width: 75%;
  background: white;
  border-radius: 0px;
  margin: 10px auto;
  margin-top: 8%;
  margin-bottom: 8%;
}

.postingLeft {
  display: flex;
  height: 400px;
  width: auto;
}

.postingForm {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

/* Post Index */
.postImg {
  height: 300px;
  width: 300px;
  box-shadow: 1px 2px 8px 2px #bfbdbd;
  border-radius: 20px;
  object-fit: cover;
}

.postImg:hover {
  opacity: .6;
}

.indexMain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5%;
  margin-top: 2%;
}

.posts{
  position: relative;
  text-align: center;
  color: white;
}

.indexLink{
  font-family: 'Comfortaa', cursive;
  color: rgb(247, 245, 245);
  text-decoration: none;
  position: relative;
  bottom: 80px;
  right: 30%;
  font-size: 25px;
}

.indexLink:hover{
  color: black;
  font-size: 25px;
}

/* Post Show Page */
.postShowBox {
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
  width: 100%;
  align-items: center;
}

.postShowUser {
  display: flex;
  width: 50%
}

.postImgShow {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.text {
  width: 50%;
}

span {
  display: flex;
  justify-content: end;
}

.postShowText {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.postEdit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.editBtn {
  float: left;
}

.postEditForm {
  display: flex;
  margin-left: 25%;
  width: 100%;
}

.editForm {
  width: 65%;
}

.editInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editPageBtns {
  display: flex;
  justify-content: space-between;
}

/* Profile Page */
.profileTop {
  display: flex;
  flex-direction: row;
  font-family: 'Comfortaa', cursive;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  width: 90%;
  background: white;
  border-radius: 20px;
  margin: 5% auto;
  background-color: rgba(141, 170, 145, .8)
}

.profileLeft {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 5%;
}

.profileRight {
  font-size: 20px;
}

.profilePhoto {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.profilePostsTitle {
  margin-left: 5%;
  font-family: 'Comfortaa', cursive;
}

.profilePosts {
  margin: 5% auto;
}

/* Footer */
.rights {
  color: black;
  position:relative;
  top:80%;
  left:2%;
  z-index:1;
}

.footer {
  margin-top: 80px;
  height: 150px;
  color:black;
  border-top-left-radius: 800%;
  border-top-right-radius: 800%;
  background-color: rgba(1, 22, 30, .5);
  position:relative;
}

.firstUl {
  position:absolute;
  left:45%;
  bottom: 3%;
  line-height: 60%;
  list-style: none;
}
.secondUl {
  position:absolute;
  left:60%;
  bottom: 3%;
  line-height: 60%;
  list-style: none;

}

.footerLogo {
  height: auto;
  width:350px;
  position:relative;
  left:72%;
}


/* About Page */
.aboutPage {
  font-family: 'Comfortaa', cursive;
  margin-top: 2%;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutHead {
  margin-left: 6%;
}

.rant {
  font-size: 30px;
  margin-right: 100px;
  margin-left: 6%;
}

.aboutImg {
  width: 900px;
  height: auto;
}